<!DOCTYPE html>
<html lang="pt-br">
	<head th:replace="~{base :: head}">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/rodape.css">
		
	</head>
	
	<body>
		
		<header>
			<nav th:replace="~{base :: navbusca}"></nav>
			
			<nav th:replace="~{base :: navlinks}"></nav>
			
			<div class="bd-example">
				  
			  <div>
			      <img src="/image/pc-estetoscopio.jpg" class="d-block w-100" alt="...">
			  </div>
			</div>
		</header>
		
		<main class="container mt-3"> 
			
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item" aria-current="page"><a href="/bloghome">Blogs</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Blog</li>
			  </ol>
			</nav>
			
			<article>
				<div th:object="${blogObj}">
				
					<div>
						<nav class="navbar navbar-light bg-light d-flex justify-content-end">
							<a th:href="@{editarTexto/{idTexto}(idTexto=*{id})}"><button type="button" class="btn btn-outline-dark me-3">Editar</button></a>
						</nav>
					</div>
					
					<h1 class="card-title"><span th:text="*{titulo}"></span></h1>
						
					<p class="card-text text-muted">	
						<span th:text="'Autor: ' + *{autor}"></span>
						<span th:text="' | Publicado em ' + *{#temporals.format(dataPublicacao, 'dd/MM/yyyy')}"></span>
					</p>
					
					<section>
						<p class="card-text"><span th:utext="*{texto}"></span></p>
					</section>
							
				</div>
			</article>
		</main>
		<footer th:replace="~{base :: rodape}"></footer>
	</body>
</html>