<!DOCTYPE html>
<html lang="pt-br">
	<head th:replace="~{base :: head}">
		<meta charset="utf-8">
		<link rel="stylesheet" href="/rodape.css">
		
	</head>
	
	<body>
		
		<header>
			<nav th:replace="~{base :: navbusca}"></nav>
			
			<nav th:replace="~{base :: navlinks}"></nav>
			
			<div class="bd-example">
				  
			  <div>
			      <img src="/image/pc-estetoscopio.jpg" class="d-block w-100" alt="...">
			  </div>
			</div>
		</header>
		
		<main class="container mt-3"> 
			
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			    <li class="breadcrumb-item" aria-current="page"><a href="/bloghome">Blogs</a></li>
			    <li class="breadcrumb-item active" aria-current="page">Blog</li>
			  </ol>
			</nav>
			
			<article>
				<div>
				
				<div>
					<nav class="navbar navbar-light bg-light d-flex justify-content-end">
						<a href="formNovoBlog"><button type="button" class="btn btn-outline-dark me-3">Editar</button></a>
					</nav>
				</div>
				</span></h1>
						
					<p class="card-text text-muted">	
						<span ></span>
						<span ></span>
					</p>
					
					<section></span></p>
					</section>
							
				</div>
			</article>
		</main>
	</body>
</html>